<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Agregar Integrante</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
	<link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>

<body>
    <section class="section">
        <div class="container">
            <h2 class="title is-3">Nuevo integrante</h2>
            <form th:action="@{/familias/guardarIntegrante}" th:object="${asistidoForm}" method="post">
				<div class="field">
				    <label class="label">DNI:</label>
				    <div class="control">
				        <input class="input" type="number" th:field="*{dni}" />
				    </div>
				    <div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="help is-danger"></div>
				</div>
                <div class="field">
                    <label class="label">Nombre:</label>
                    <div class="control">
                        <input class="input" type="text" th:field="*{nombre}"  />
                    </div>
                    <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="help is-danger"></div>
                </div>
                <div class="field">
                    <label class="label">Apellido:</label>
                    <div class="control">
                        <input class="input" type="text" th:field="*{apellido}"  />
                    </div>
                    <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="help is-danger"></div>
                </div>
                <div class="field">
                    <label class="label">Fecha de nacimiento:</label>
                    <div class="control">
                        <input class="input" type="date" th:field="*{fechaNacimiento}"  />
                    </div>
                    <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="help is-danger"></div>
                </div>
                <div class="field">
                    <label class="label">Ocupación:</label>
                    <div class="control">
                        <div class="select">
                            <select th:field="*{ocupacion}">
                                <option value="desempleado">Desempleado</option>
                                <option value="empleado">Empleado</option>
                                <option value="estudiante">Estudiante</option>
                                <option value="ama de casa">Ama de casa</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" name="action" value="guardar" class="button is-primary">Guardar integrante</button>
                    <a th:href="@{/familias/agregarFamilia}" class="button is-light">Cancelar</a>
                </div>
            </form>
        </div>
    </section>
</body>

</html>