<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Ingrediente</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
    <section class="section">
        <div class="container">
            <h2 class="title is-3">Editar Ingrediente</h2>
            <form th:action="@{'/ingredientes/editar/' + ${ingrediente.id}}" th:object="${ingrediente}" method="post">
                <div class="field">
                    <label class="label">Nombre:</label>
                    <div class="control">
                        <input class="input" type="text" th:field="*{nombre}" required/>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="button is-primary">Guardar</button>
                    <a th:href="@{/ingredientes}" class="button is-light">Cancelar</a>
                </div>
            </form>
            <div th:if="${error}" class="notification is-danger mt-4">
                <p th:text="${error}"></p>
            </div>
        </div>
    </section>
</body>
</html>
