<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Centro de distribución 'El Jacaranda'</h1>
            <h2 class="subtitle has-text-centered subtitulo-menu-ppal">Menú principal</h2>
            <div class="buttons is-centered mt-5">
                <a th:href="@{/familias}" class="button is-link is-light">Familias</a>
                <a th:href="@{/ingredientes}" class="button is-link is-light">Ingredientes</a>
                <a th:href="@{/recetas}" class="button is-link is-light">Recetas</a>
                <a th:href="@{/preparaciones}" class="button is-link is-light">Preparaciones</a>
                <a th:href="@{/entregaAlimentos}" class="button is-link is-light">Entrega de alimentos</a>
            </div>
        </div>
    </section>
</body>
</html>